@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;
}
/* .__c {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(247, 251, 226, 1)
    
  
} */
.home_part_1 {
    width: 100%;
    min-height: 100vh; /* Allows content to grow beyond screen if needed */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;

    background-image: url("../assets/home_page.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    color: rgba(247, 251, 226, 1);
    overflow: hidden; /* Optional: to avoid scrollbars due to tiny overflows */
}


.home_part_1 h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.home_part_1 h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 4px;
    font-family: "Inter", sans-serif;
    text-align: center;
    width: 85%;
}

.home_part_1 p {
    width: 53%;
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 12px;
    font-size: normal;
}

.home_part_1 button {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    background-color: rgba(61, 42, 68, 1);
    cursor: pointer;
    color: white;
    margin-top: 30px;
    width: 15%;
}

.home_2 {
    width: 100%;
    height: 1050px;
    margin-bottom: 10vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 251, 226, 1);
    background-image: url("../assets/bg_9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.home_part_2 {
    width: 98%;
    height: 470px;


    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    gap: 15px;
    margin-bottom: 20vh;
   
}

.home_part_2_section {
    position: relative;
    width: 30%;
    height: 90%;
    margin-top: 5%;
    border: 1px solid gray;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgba(247, 251, 226, 1);

}

.attch_logo {
    position: absolute;
    top: -5%;
    right: 10%;
    transform: rotate(14deg);
}

.icon_logo {
    padding: 3px;
    background-color: rgba(61, 42, 68, 1);
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.home_part_2_section h3 {
    font-size: 17px;
    margin-top: 14px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.home_part_2_section p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin-top: 5px;
    width: 95%;
}


.home_part_3_for_home {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/home_bg_2.png");
    background-size: cover; /* Changed */
    background-position: bottom;
    background-repeat: no-repeat;
    color: white;
    overflow: hidden;
    margin-top: 4vh;
    padding: 4rem;
}
.home_part_3_for_home p {
    width: 50%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;

}



/* @media screen and (max-width: 1330px) { 
    .home_part_1 {
        padding-bottom: 9vh;
    }

    .home_part_1 h2 { 
        font-size: 44px;
    }

    .home_part_1 p {
  font-size: 15px;
  width: 55%;
    }

} */






 @media screen and (max-height: 700px) {
    .home_part_1 {
        padding-bottom: 4vh;
     }
     .home_part_1 h2 {
        font-size: 44px;
     }

     .home_part_1 p {
        font-size: 15px;
     }

    .home_part_1 button {
        margin-top: 15px;
    }
} 





  @media screen and (max-width: 1300px) {
    .home_part_1 {
        padding-bottom: 15vh;
    }

    .home_part_1 h2 {
        font-size: 35px ;
    }
    .home_part_1 p {
        width: 60%;
    }
    .home_part_2_section {
        width: 31%;
    
    }
    .home_part_2_section p {
        font-family: "Inter", sans-serif;
        font-size: 13px;
        margin-top: 5px;
        width: 95%;
    }
    .home_part_3_for_home p  {
        width: 60vw;
    }

    .home_part_1 button {
        width: fit-content;
    }
    
  }


  @media screen and (max-width: 850px) { 

    .home_part_1 p {
        width: 90%;
        font-size: small;
    }
    .home_part_1 h1 {
        font-size: 27px;
    }

    .home_part_2 h2 {
        font-size: 10px;
    }

    .home_part_1 button {
        width: 45%;
    }
    .home_part_1 h2 {
        font-size: 18px;
    }
    .home_2 {
        height: 240vh;
    }
    .home_part_2 {
        flex-direction: column;
        align-items: center;
        height: fit-content
    }
    .home_part_2_section {
        width: fit-content
    }

    .home_part_3_for_home {
        height: 370px;
        padding: 1rem;
        margin-bottom: 20px;
    }
    .home_part_3_for_home p {
        width: 80%;
        text-align: center;
        font-size: 14px;
        margin-bottom: 1rem;
    
    }


  }
  